/* debug */
.box {
    border: 1px solid black;
    background-color: rgba(0, 0, 0,.2);
}

/* general */

body {
    padding-top: 100px;
}

/* utility */
.bg-header{
    background: #2c3e50;;
}

.color-w{
    color: #fff;
}

.color-i {
    color: #2c3e50;
}

.bg-hero{
    background-color: #1abc9c;
}

.button {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
    padding: 10px 15px;
}

.button2{
    border: 1px solid #1abc9c ;
    border-radius: 10px;
    background-color: #1abc9c;
    color: #fff;
    font-weight: bolder;
    padding: 10px 15px;
}

.color-g {
    color: #20ae95;
}

.box-avatar {
    width: 100%;
    height: 200px;
}

.box-img{
    width: 100%;
    height: 400px;
}

.icon-social {
   font-size: 30px;
}

/* button */
.site-btn {
    text-transform: uppercase;
    border-radius: 10px;
    padding: .75rem 2rem;
    font-weight: bold;
}

.site-btn-primary {
    color: #fff;
    background: #1abc9c;
}

/* hedaer */
header .list-nav ul{
 list-style-type: none;
}

header .list-nav li{
    padding: 10px;
}

.navbar-dark .navbar-nav a.site-nav-link{
    color: #fff;
}

header .navbar-dark .color-btn {
    color: #fff;
}

/* MAIN */

.box-avatar img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.box-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* label-main */
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="phone"],
.registration-form textarea{
    border: 0;
    font-size: 18px;
    border-bottom: 2px solid grey; 
    border-radius: 0; 
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="phone"] {
    height: 50px;
    padding: 0;
}

.registration-form textarea{
    height: 100px;
    padding: 1rem 0;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="phone"]:focus,
.registration-form textarea:focus{
    box-shadow: none;
    border-color:#1abc9c ;
}

.contact .registration-form ::placeholder{
    color: #2c3e50;
}

/* footer */
.footer-top{
    background: #3a546d;
}
.footer-bottom {
    background-color: #2c3e50;
}

.box-social {
    display: flex;
    width: 55px;
    height: 55px;
    border: 2px solid #fff ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
